body{
  text-align: center;
  justify-content: center;
/*   background: url(https://media1.tenor.com/m/vG8V8HgQ3h8AAAAC/iron-man.gif) no-repeat; */
  background-color: black;
  background-size: cover;
  font-family: monospace;
}
h1{
  padding-top: 50px;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 50px;
  text-shadow: 0 0 20px #00fffb, 0 0 20px #00fffb;
  
}
.btn{
  color: black;
  border-radius: 10px;
  height: 35px;
  padding: 2px;
  margin: 5;
  background-color: white;
  border: 0px solid white;

  font-size: 20px;
  
}
:hover.btn{
  border: 1px solid darkgray;
  background-color: lightgray;
  text-decoration: underline;
  box-shadow: 0 0 20px #00fffb , 0 0 20px #00fffb;
}
.about{
  padding-top: 100%;
  color: white;
}
#output{
  color: white;
  
}
